/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
	/* border: 1px solid red !important; */
	max-width: 100%; 
}

body {
	padding: 1% 8%;
	font-size: 1.4rem;
	width: 100%;
}

h3 {
	font-size: 2rem;
}

/* Header Styles */

header {
	position: fixed; /* STRETCH GOAL */
	width: 100%;
	margin-left: -128px;
	margin-top: -19px;
	display: flex;
	justify-content: space-around;
	background: #FFF;
	padding: 1%;
	border-bottom: solid 2px lightslategray;
}

header nav {
	display: flex;
	align-items: center;
	width: 70%;
}

header nav ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

header nav ul li {
	font-size: 1rem;
	font-weight: bold;
}

header nav ul li a {
	text-decoration: none;
	color: rgb(177, 177, 177);
}

header nav ul li a:hover {
	color: black;
}

header .logo {
	opacity: 0.7;
}

header .logo:hover {
	opacity: 1;
}

/* Section One Styles */

.sec-one {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 10%;
	padding-bottom: 6%;
	border-bottom: solid 1px grey;
}

.sec-one-title {
	width: 25%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sec-one-title h1 {
	font-size: 6rem;
}

.sec-one-title a {
	text-decoration: none;
	color: rgb(177, 177, 177);
	border: solid rgb(177, 177, 177) 1px;
	font-size: 1rem;
	padding: 3% 5%;
	border-radius: 5px;
}

.sec-one-title a:hover {
	color: black;
	border: solid black 1px;
}

.sec-one img {
	width: 35%;
}

/* Section Two Styles */

.sec-two {
	margin-top: 4%;
	display: flex;
	justify-content: space-evenly;
}

.sec-two .sec-two-a, .sec-two .sec-two-b {
	width: 45%;
}

/* Section Three Styles */

.sec-three {
	margin-top: 4%;
	text-align: center;
}

.sec-three img {
	width: 95%;
}

/* Section Four Styles */

.sec-four {
	display: flex;
	justify-content: space-evenly;
	margin-top: 4%;
	padding-bottom: 6%;
	border-bottom: solid 1px grey;
}

.sec-four div {
	width: 30%;
}

.sec-four div p {
}

/* Footer Styles */

footer {
	padding: 3% 1%;
	display: flex;
	flex-direction: column;
}

footer h3 {
	font-size: 1.5rem;
}

footer p, footer address {
	font-size: 1rem;
}

footer p {
	line-height: 2.3rem;
}

footer p a {
	text-decoration: none;
}

footer :last-child {
	text-align: center;
}
